.header{
    margin-bottom: 40px;
}
.menu{
    margin-top: 40px;
}
.titulo{
    font-family: cursive;
    text-align: center;
    color: #e85d04;
}
.form-control{
  height: 50px;
}
.form-agendamento{
    margin-top: 20px;
}
.custom-select{
    height: 50px;
    margin-top: 30px;
    text-align: center;
}
#inicio,#fim{
    text-align: center;
}
.nav-link{
    color: #e85d04;
}

.card{
    margin-top: 30px;
}
.container{
    margin-bottom: 40px;
}
.btn{
  margin: 11px 11px 11px 11px;
}
.btn-secondary{
    background-color:#e85d04 ;
    border: none;
    height: 50px;
}